@page "/posts"

@inject IPostsViewModel PostsViewModel

<h3>Search Posts</h3>
<br/>

<SearchBarComponent OnSearch="HandleSearch"></SearchBarComponent>

<br/>

<div class="list-group">
    @if (PostsViewModel.PostModels != null && PostsViewModel.PostModels.Count() > 0)
    {
        @foreach (var post in PostsViewModel.PostModels)
        {
            <NavLink class="list-group-item list-group-item-action" href="@($"post/{post.Id}")">@post.Title</NavLink>
        }
    }
    else
    {
        <div class="list-group-item">No posts found</div>
    }
</div>

@code {      

    private void HandleSearch(string filter)
    {
        PostsViewModel.HandleSearch(filter);
    }
}
